.bookingsPage {
    min-height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.bookingData {
    display: grid;
    grid-template-columns: repeat(1, 760px);
    gap: 20px;
    justify-content: center;
}

@media screen and (max-width: 400px) {}

@media screen and (min-width: 401px) and (max-width: 720px) {}

@media screen and (min-width: 721px) and (max-width: 1280px) {}

@media screen and (min-width: 1281px) and (max-width: 1440px) {}

@media screen and (min-width: 141px) and (max-width: 810px) {
    .bookingData {
        grid-template-columns: repeat(1, 90vw);
    }
}

@media screen and (min-width: 1921px) {}